<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <notification></notification>
  <app-login (authenticate)="userAuthenticated($event)" *ngIf="!loggedIn"></app-login>
  <app-main *ngIf="loggedIn"></app-main>
